@import url(./reset.css);

:root {
    --bg-color: #d0d9ff;
    --buttoon-color: #686ed7;
    --buttoon-color2: #28b9d3;
    --text-color: #333;
    --bg-color2: linear-gradient(to right, #5170FF, #FF66C4);
}

body {
    background-color: var(--bg-color);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem;
    background: linear-gradient(to right, #8C52FF, #00BF63);
    color: #fff;
}

header h1 {
    font-size: 3rem;
    text-transform: uppercase;
}

nav ul {
    display: flex;
    gap: 1rem;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    width: 10rem;
    background: linear-gradient(to right, #3F51B5, #00C853);
    line-height: 4.5rem;
    text-align: center;
    border-radius: 8rem;
    transition: all 0.4s ease-in-out;
}

nav ul li:hover {
    background-color: #3f51b5;
    color: #fff;
    cursor: pointer;
    filter: drop-shadow(0 0 0.1rem #5a5a5b);
    transform: scale(1.05);
}

nav ul li a {
    display: block;
    font-size: 1.2rem;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

main {
    padding: 2rem;
}
.portfolio-images img {
    width: 33rem;
    height: 20rem;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 0 0.5rem #adbdfb;
    display: block;
}

.portfolio-images ul {
    display: flex;
    justify-content: center;
    gap: 5rem;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 3rem 0;
}
.portfolio-images figure {
    text-align: center;
    position: relative; /* Permet de positionner l'élément figcaption par rapport à l'image */
}

figcaption {
    position: absolute; /* Positionne le figcaption par rapport à son conteneur */
    top: 296px; /* Laisse un peu d'espace en bas de l'image */
    left: 50%; /* Centre le figcaption horizontalement */
    transform: translateX(-50%); /* Corrige le décalage de la largeur du figcaption pour le centrer exactement */
    width: 80%; /* Définit la largeur du figcaption pour qu'il soit plus petit que l'image */
    text-align: center; /* Centre le texte à l'intérieur du figcaption */
}

figcaption a {
    display: block;
    width: 100%;
    background-color: var(--buttoon-color);
    font-size: 1.2rem;
    padding: 1rem 2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.6s ease-in-out;
    color: #fff;
}

figcaption a:hover {
    background-color: var(--buttoon-color2);
    color: #fff;
    transform: scale(1.05);
    border-radius: 8rem;
    transition: all 0.4s ease-in-out;
    filter: drop-shadow(0 0 0.1rem #5a5a5b);
}

article {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--bg-color2);
    margin: 2rem auto;
    padding: 2rem;
    width: fit-content;
    
    color: var(--text-color);
}
.fade-in-section {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 1s ease-out, transform 1s ease-out;
}

.fade-in-section.visible {
    opacity: 1;
    transform: translateY(0);
}


article h2 {
    background: linear-gradient(to right, #8C52FF, #5CE1E6);
    padding: 2rem;
    text-align: center;
    width: 100%;
}

article p {
    background-color: inherit;
    color: var(--text-color);
    text-align: center;
    font-size: 1.5rem;
    padding: 2rem;
}

article h2,
article p,
.button-default {
   
}

.button-container {
    display: flex;
    gap: 1rem;
    margin-top: 1.5rem;
}

.button-default {
    background-color: var(--buttoon-color);
    font-size: 1.2rem;
    padding: 1rem 2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.6s ease-in-out;
    color: #fff;
}

.button-default:hover {
    background-color: var(--buttoon-color2);
    color: #fff;
    transform: scale(1.05);
    border-radius: 8rem;

}

.button-theme-infos {
    background-color: var(--buttoon-color);
}

.button-theme-info {
    background-color: var(--buttoon-color2);
}

.button-theme-info:hover{

    background-color: var(--buttoon-color);

}
.button-theme-infos:hover {
    background-color: var(--buttoon-color2);
 
} 

footer {
    text-align: center;
    padding: 1.5rem 0;
    font-weight: 600;
}
